h1{
    text-align: center;
    background-color: rgb(29, 139, 179);
    font-size: 50px;
    border: 2px solid #000;
    border-radius: 10px;
}

html{
    background-color: #7ba193;
}

section{
    text-align: center;
}

li{

    text-align: center;
    position: center;
}

img{

width: 120px;
height: 120px;
border-radius: 10%;

}

b{
    background-color: rgb(29, 139, 179)

}
